.nav {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 16px 8px;

  border-bottom: 1px solid rgb(154, 154, 154);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  border: 4px solid black;
  padding: 12px;

  /* Remove underline and highlighting from link */
  color: black;
  text-decoration: none;
}

.left-items {
  display: flex;
}

.links {
  display: flex;
  align-items: center;
  gap: 32px;

  margin-left: 32px;
}

.link {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.shopping-cart {
  width: 40px;
  height: 40px;
  padding: 8px;
}